
.headerNav{
    position: sticky;
    top: 0;
    z-index: 10;
    /* border: 5px solid red; */
}

.navBarHead{
    background-color: #8062D6;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;

}

