.middlePart {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.loaderData {
  color: azure;
  text-align: center;
  margin-top: auto;
  margin-left: auto;
}
